@model IEnumerable<Core.ViewModels.AnnouncementViewModel>
@{
    ViewData["Title"] = "AddAnnouncement";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}



<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add Announcement</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active">Add Announcement</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div style="float: right">
        @*  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">Add Event</button> *@
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#announcementModal">Add Announcement</button>
    </div>


    <section class="section" style="">
        <div class="row" style="margin-top:70px;">
            <div class="col-lg-14">
                <div class="card">
                    @if (Model != null && Model.Count() > 0)
                    {
                        <div class="card-body">
                            <table class=" table table-striped table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th>S/NO</th>
                                        <th>AnnouncementTitle</th>
                                        <th>AnnouncementDetails</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var AddAnnouncement in Model)
                                    {
                                        <tr>
                                            <td>@AddAnnouncement.Id</td>
                                            <td>@AddAnnouncement.AnnouncementTitle</td>
                                            <td>@AddAnnouncement.AnnouncementDetails</td>
                                            <td class="d-inline-flex">
                                                <button class="btn btn-outline-success" data-toggle="modal" data-target="#announcementEditModal" onclick="EditAnnouncement('@AddAnnouncement.Id')"> <i class="bi bi-pencil"></i> </button>
                                                <button class="btn btn-outline-success" onclick="DeleteAnnouncement('@AddAnnouncement.Id')"><i class="bi bi-trash"></i></button>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p>NO DATA FOUND</p>
                    }
                </div>

            </div>
        </div>

        <!-- -- The Modal -->
        <div class="modal fade" id="announcementModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header text-center bg-success text-white">
                        <h5 class="modal-title">Add Announcement</h5>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputName">Announcement Title</label>
                                    <input type="text" class="form-control" id="announcementTitle" placeholder="Enter Announcement Title">
                                </div>
                                <div class="form-group">
                                    <label for="inputBio">Announcement Details</label>
                                    <textarea cols="5" rows="5" type="text" class="form-control" id="announcementDetails" placeholder="Enter Announcement Full Details"> </textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="DateFrom"> Date From</label>
                                    <input type="date" class="form-control" id="dateFrom" placeholder="Enter Announcement Title">
                                </div>
                                <div class="form-group">
                                    <label for="DateTill">Date From</label>
                                    <textarea cols="5" rows="5" type="date" class="form-control" id="dateTill" placeholder="Enter Announcement Full Details"> </textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success offset-4" onclick="AddAnnouncement()">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="announcementEditModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header text-center bg-success text-white">
                    <h5 class="modal-title">Edit Announcement</h5>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputName">Announcement Title</label>
                                <input type="text" class="form-control" id="edit_announcementTitle" placeholder="Enter Announcement Title">
                            </div>
                            <div class="form-group">
                                <label for="inputBio">Announcement Details</label>
                                <input type="text" class="form-control" id="edit_announcementDetails" placeholder="Enter Announcement Full Details">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-success offset-4" onclick="EditAnnouncement()">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<!-- End #main -->
