@model IEnumerable<Core.ViewModels.UpComingEventViewModel>
@{
    ViewData["Title"] = "UpComingEvents";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}



<main id="main" class="main">

    <div class="pagetitle">
        <h1>UpComingEvents</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active">UpComing Events</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div  style="float: right">
       @*  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">Add Event</button> *@
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#profileModal">Add Event</button>
    </div>


    <section class="section" style="">
        <div class="row" style="margin-top:70px;">
            <div class="col-lg-14">
                <div class="">
                    @if (Model !=null && Model.Count () > 0)
                    {
                        <div class="card-body">
                            <table class="table table-striped table-borderless datatable">
                                <thead>
                                    <tr>
                                    <th>S/NO</th>
                                    <th>EventTitle</th>
                                    <th>EventDate</th>
                                    <th>EventTime</th>
                                    <th>EventDetails</th>
                                    <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var upComingvents in Model)
                                {
                                    <tr>
                                        <td>@upComingvents.Id</td>
                                        <td>@upComingvents.EventTitle</td>
                                        <td>@upComingvents.EventDate</td>
                                        <td>@upComingvents?.EventTime</td>
                                        @* <td>@upComingvents.EventDetails</td> *@
                                        <td>
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#EventDetails" onclick="geteventdetails('@upComingvents.Id')">Details</button>
                                        </td>
                                        @*   <td>@upComingvents?.EventImage</td> *@
                                        <td>
                                                @* <button class="btn btn-primary" onclick="Edit('@upComingvents.Id')"> <i class="bi bi-pencil"></i> </button> *@
                                                <button class="btn btn-outline-success" data-toggle="modal" data-target="#eventDeleteModal" onclick="EventToDelete('@upComingvents.Id')"><i class="bi bi-trash"></i></button>
                                               
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>              
                        </div>
                    }
                    else
                    {
                        <p>NO DATA FOUND</p>
                    }
                </div>

            </div>
        </div>

       <!-- -- The Modal -->
        <div class="modal fade" id="profileModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header text-center bg-success text-white">
                        <h5 class="modal-title" id="profileModalLabel">Add Upcoming Events</h5>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputName">Event Title</label>
                                    <input type="text" class="form-control" id="eventTitle" placeholder="Enter Event Title">
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail">Event Date</label>
                                    <input type="date" class="form-control" id="eventDate" placeholder="Enter  Event Date">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputPhone">Event Time</label>
                                    <input type="text" class="form-control" id="eventTime" placeholder="Enter  Event Time">
                                </div>

                                <div class="form-group">
                                    <label for="inputBio">Event Details</label>
                                    <input type="text" class="form-control" id="eventDetails" placeholder="Enter Event Details">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputBio">Event Image</label>
                                    <input type="file" class="form-control" id="eventImage" placeholder="Enter Event Image">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success offset-4" onclick="CreateEvents()">Submit</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="modal fade" id="EventDetails">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-center bg-success text-white">
                    <h5 class="modal-title"> EventDetails</h5>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">

                                <div class="form-group">
                                   @*  <label for="inputBio">Event Details</label> *@
                                    <textarea cols="5" rows="5" type="text" class="form-control" id="eventDet" disabled> </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="eventDeleteModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> <b> Delete Event </b> </h5>
                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                </div>
                <div class="modal-body">
                    <p class="text-center">Are you sure you want to delete?</p>
                    <div class="modal-btn delete-action">
                        <div class="row m-auto">
                            <input class="form-control" hidden type="text" id="event_Id">
                            <div class="col-6">
                                <a class="btn btn-outline-success rounded-pill p-2 d-block" onclick="DeleteEvent()">Delete</a>
                            </div>
                            <div class="col-6">
                                <a data-dismiss="modal" class="btn btn-outline-success rounded-pill p-2 d-block">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- End #main -->
