@model IEnumerable<Core.ViewModels.AnnouncementViewModel>
@{
    ViewData["Title"] = "Announcements";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Announcements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active">Announcements</li>

            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="container mt-10">
        <div class="container mt-5">
            <div class="row justify-content-center">
                @if (Model != null && Model.Count() > 0)
                {
                    <h2 class="text-center mt-5 mb-5 font-weight-bold">Announcements</h2>

                    @foreach (var announcements in Model)
                    {
                        <div class="col-lg-10 col-sm-12">

                            <div class="card" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">@announcements.AnnouncementTitle</h4>
                                    <p>@announcements.AnnouncementDetails</p>
                                    <div>
                                        This announcement will be available from <span>@announcements.DurationFrom.ToString("D")</span> to
                                        <span>@announcements.DurationTill.ToString("D")</span>
                                        @* <span class="float-lg-end">@announcements.Id</span> *@
                                    </div>
                                    @* <p class="card-text">@announcements.DateCreated</p> *@
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>
