@model IEnumerable<Core.ViewModels.PrayerRequestViewModel>
@{
    ViewData["Title"] = "PrayerRequest";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>PrayerRequest</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">PrayerRequest</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div style="float: right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#prayerRequestModal">Add Prayer Request</button>
    </div>

    <section class="section" style="">
        <div class="row" style="margin-top:70px;">
            <div class="col-lg-14">
                <div class="card">
                    @if (Model != null && Model.Any())
                    {
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/NO</th>
                                        <th>PrayerRequestTitle</th>
                                        <th>PrayerRequestDetails</th>
                                        <th>DateCreated</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var prayerRequest in Model)
                                    {
                                        <tr>
                                            <td>@prayerRequest.Id</td>
                                            <td>@prayerRequest.PrayerRequestTitle</td>
                                            <td>@prayerRequest.PrayerRequestDetails</td>
                                            <td>@prayerRequest.DateCreated.ToString("D")</td>
                                            <td>
                                                @if (prayerRequest.PrayerRequestStatus == Core.DB.YYFEnums.StatusEnum.Pending)
                                                {
                                                    <badge class="badge badge-warning p-2"> Pending </badge>
                                                }
                                                else if (prayerRequest.PrayerRequestStatus == Core.DB.YYFEnums.StatusEnum.Approved)
                                                {
                                                    <badge class="badge badge-success p-2"> Approved </badge>
                                                }else  {
                                                    <badge class="badge badge-danger p-2"> Declined </badge>
                                                }
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" data-toggle="modal" data-target="#editprayerRequestModal" onclick="EditPrayerRequest('@prayerRequest.Id')"><i class="bi bi-pencil"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p>NO DATA FOUND</p>
                    }
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->
<!-- The Modal -->
<div class="modal fade" id="prayerRequestModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center bg-primary text-white">
                <h5 class="modal-title">Add Prayer Request</h5>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="prayerRequestTitle">Prayer Request Title </label>
                            <input type="text" class="form-control" id="prayerRequestTitle" placeholder="Enter Prayer Request Title">
                        </div>
                        <div class="form-group">
                            <label for="prayerRequestDetails">Prayer Request Details</label>
                            <textarea cols="5" rows="5" class="form-control" id="prayerRequestDetails" placeholder="Enter Prayer Request Details"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitPrayerRequest()">Submit</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editprayerRequestModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center bg-primary text-white">
                <h5 class="modal-title">Edit Prayer Request</h5>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="prayerRequestTitle">Prayer Request Title </label>
                            <input type="text" class="form-control" id="editprayerRequestTitle" placeholder="Edit Prayer Request Title">
                            <input type="text" class="form-control" id="prayerRequest_Id" hidden value="prayerRequest_Id">
                        </div>
                        <div class="form-group">
                            <label for="prayerRequestDetails">Prayer Request Details</label>
                            <textarea cols="5" rows="5" class="form-control" id="editprayerRequestDetails" placeholder="Edit Prayer Request Details"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveEditedPrayerRequest()">Submit</button>
            </div>
        </div>
    </div>
</div>
