@model IEnumerable<Core.ViewModels.PrayerRequestViewModel>
@{
    ViewData["Title"] = "PrayerRequest";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}



<main id="main" class="main">

    <div class="pagetitle">
        <h1>UpComingEvents</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">UpComingEvents</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div style="float: right">
        @*  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">Add Event</button> *@
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PrayerRequestModal">Add Prayer Request</button>
    </div>


    <section class="section" style="">
        <div class="row" style="margin-top:70px;">
            <div class="col-lg-14">
                <div class="card">
                    @if (Model != null && Model.Count() > 0)
                    {
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/NO</th>
                                        <th>PrayerRequestTitle</th>
                                        <th>PrayerRequestDetails</th>
                                        <th>DateCreated</th>                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var PrayerRequest in Model)
                                    {
                                        <tr>
                                            <td>@PrayerRequest.Id</td>
                                            <td>@PrayerRequest.PrayerRequestTitle</td>
                                            <td>@PrayerRequest.PrayerRequestDetails</td>
                                            <td>@PrayerRequest.DateCreated.ToString("D")</td>
                                            <td>
                                                <button class="btn btn-primary"onclick="EditPrayerRequest('@PrayerRequest.Id')">Edit Prayer Request</button>
                                                <button class="btn btn-primary" onclick="DeletePrayerRequest('@PrayerRequest.Id')">Delete Prayer Request</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p>NO DATA FOUND</p>
                    }
                </div>

            </div>
        </div>

        <!-- -- The Modal -->
        <div class="modal fade" id="PrayerRequestModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header text-center bg-primary text-white">
                        <h5 class="modal-title" id="profileModalLabel">Add Prayer Request</h5>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputName">Prayer Request Title </label>
                                    <input type="text" class="form-control" id="prayerRequestTitle" placeholder="Enter Prayer Request Title">
                                

                                <div class="form-group">
                                    <label for="inputBio">Prayer Request Details</label>
                                    <textarea type="text" cols="5" rows="5" class="form-control" id="prayerRequestDetails" placeholder="Enter Prayer Request Details"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary offset-4" onclick="(CreateEvents)">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->
