@model IEnumerable<Core.ViewModels.UpComingEventViewModel>
@{
    ViewData["Title"] = "UpComingEvents";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}


<main id="main" class="main">
    <div class="pagetitle">
        <h1>UpComingEvents</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active">UpComingEvents</li>

            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="container mt-10">
        <div class="container mt-5">
            <div class="row">
                @if (Model != null && Model.Count() > 0){
                    <h2 class="text-center mt-5 mb-5 font-weight-bold">UpComingEvents</h2>

                    @foreach (var upComingvents in Model){
                        <div class="col-lg-6 col-sm-12">

                            <div class="card" style="width:100%">
                                @if (upComingvents.EventImage != null)
                                {
                                    <img class="card-img-top" src="@upComingvents.EventImage" alt="Card image" style="width:100%">
                                }
                                else{
                                    <img class="card-img-top" src="~/assets/img/constructions-1.jpg" alt="Card image" style="width:100%">
                                }
                                
                                <div class="card-body">
                                    <h4 class="card-title">@upComingvents.EventTitle </h4>
                                    <div>
                                        <span>@upComingvents.EventDate </span>
                                        <span class="float-lg-end">@upComingvents.EventTime </span>
                                    </div>
                                    <p class="card-text"> @upComingvents.EventDetails</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>
